:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #4f4f4f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 4;
  display: flex;
  flex-direction: column;
}

.params {
  display: flex;
  background: #5f5f5f;
  border-radius: 0.2rem;
  margin: 0.1rem;
  padding: 0.2rem 0.2rem;
}

.sim-params {
  background: #3f3f3f;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.sim-params .row {
  display: flex;
  justify-content: center;
}

.sim-params .row h3 {
  margin: 0.2rem;
}

.model-params {
  background: #3f3f3f;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.row {
  margin: 0.2rem;
  padding: 0.2rem;
}

.model-params .row {
  display: flex;
  justify-content: center;
}

.model-params .row h3 {
  margin: 0.2rem;
}

.stim-params {
  background: #3f3f3f;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.stim-params .row {
  display: flex;
  justify-content: center;
}

.stim-params .row h3 {
  margin: 0.2rem;
}

.param {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem 0.3rem;
}

.params input {
  width: 30%;
}

#state-btns-row {
  justify-content: flex-end;
}

#state-btns-row button {
  transition: transform: 0.5s;
}

#state-btns-row button:hover {
  color: #2f2f2f;
  background-color: #fdda0d;
}

#state-btns-row button:active {
  transform: scale(0.9);
}

.canvas {
  background: #1b1b1b;
  border-radius: 0.2rem;
  margin: 0.1rem;
  padding: 0.5rem 0rem;
}

.param label {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.1rem;
  padding: 0.2rem 0.2rem;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}
*/

/*
.row {
  display: flex;
  justify-content: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}
*/

input,
button {
  border-radius: 0.2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #f6f6f6;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*
button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}
*/

/*
@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
*/
