:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #4f4f4f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 4;
  display: flex;
  flex-direction: column;
}

.params {
  display: flex;
  background: #5f5f5f;
  border-radius: 0.2rem;
  margin: 0.1rem;
  padding: 0.2rem 0.2rem;
}

.sim-params {
  background: #3f3f3f;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.sim-params .row {
  display: flex;
  justify-content: center;
}

.sim-params .row h3 {
  margin: 0.2rem;
}

.model-params {
  background: #3f3f3f;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.row {
  margin: 0.2rem;
  padding: 0.2rem;
}

.model-params .row {
  display: flex;
  justify-content: center;
}

.model-params .row h3 {
  margin: 0.2rem;
}

.stim-params {
  background: #3f3f3f;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.stim-params .row {
  display: flex;
  justify-content: center;
}

.stim-params .row h3 {
  margin: 0.2rem;
}

.param {
  margin: 0.5rem;
  padding: 0.5rem 0.3rem;
}

.param.error input {
  border-color: #ff3860;
}

.param .error {
  display: none;
  color: #f6f6f6;
  background-color: #ff3860;
  border-radius: 0.1rem;
  margin: 0.1rem;
  padding: 0.2rem;
  font-size: 11px;
  width: 80%;
}

.param .error svg {
  fill: #f6f6f6;
  padding: 0.0rem 0.3rem 0.0rem 0.2rem;
}

.param .error-show {
    animation:error-show 200ms;
    display: flex;
}

@keyframes error-show {
  0% {
    opacity: 0;
    top: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 2rem;
  }
}

.params input {
  width: 30%;
}

.state-btns {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
}

.state-btns button {
  margin: 0.2rem;
  transition: transform: 0.5s;
}

.state-btns button:hover {
  color: #2f2f2f;
  background-color: #fdda0d;
}

.state-btns button:active {
  transform: scale(0.9);
}

.canvas {
  background: #1b1b1b;
  border-radius: 0.2rem;
  margin: 0.1rem;
  padding: 0.5rem 0rem;
}

.param label {
  padding: 0.0rem 0.6rem;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input,
button {
  border-radius: 0.2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #f6f6f6;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
